<footer>
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<div class="fwidget">

					<h4>Social Bookmarks</h4>
					<hr />
					<p>Click the links below to see bookmarks on the web</p>

					<div class="social">
						<a href="https://www.facebook.com/bookmarks.bookshop"
							class="facebook"><i class="fa fa-facebook"></i></a> <a
							href="https://twitter.com/intent/user?screen_name=Bookmarks_books"
							class="twitter"><i class="fa fa-twitter"></i></a> <a
							href="/joinMailingList" class="google-plus"><i
							class="fa fa-inbox"></i></a> <a
							href="https://plus.google.com/109322837786020284249/about?hl=en-GB"
							class="google-plus"><i class="fa fa-google-plus"></i></a> <a
							href="https://www.pinterest.com" class="pinterest"><i
							class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="fwidget">
					<h4>Mailing List</h4>
					<hr />
					<p>We send out regular emails with new books, offers and
						events. To receive these, join our mailing list</p>
					<a href="/joinMailingList">Click Here</a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="fwidget">

					<h4>Get In Touch</h4>
					<hr />
					<div class="address">
						<p>
							<i class="fa fa-home color contact-icon"></i> 1 Bloomsbury
							Street, London
						</p>
						<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; WC1B 3QE</p>
						<p>
							<i class="fa fa-phone color contact-icon"></i> 0207 637 1848
						</p>
						<p>
							<i class="fa fa-envelope color contact-icon"></i> <a
								href="/contact">info@bookmarksbookshop.co.uk</a>
						</p>
					</div>

				</div>
			</div>

		</div>

		<hr />

		<div class="copy text-center">
			Copyright 2013 &#169; - <a href="#">Bookmarks</a>
		</div>
	</div>
</footer>