<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{decorator/public}">
<head>
	<title>Bookmarks - Open Account</title>
	<meta property="og:image" content="http://bookmarksbookshop.co.uk/images/bookmarks-outside-facebook.jpg" /> 
	<meta property="og:description" content="Bookmarks has been publishing books for over 40 years. Every year we publish a selection of books and pamphlets that address the key issues facing activists and trade unionists. Many of our older publications are available from our secondhand section." />
	<style>
		h1 {
			margin-bottom: 20px;
		}
		.about_paragraph {
			margin-bottom: 10px;
		}
	</style>
</head>

<div id="content" layout:fragment="content">
	<h1>Liberate Your Mind</h1>
	
	<p>You can help to secure the future of radical bookselling by opening a Bookmarks Account. 
	We ask that you pay in a minimum of &pound;10 a month by Standing Order which you can then spend on books at any time. 
	We will also give you 10% off all books or free postage anywhere in the UK.
	</p>
	 
	<p>Your &pound;10 a month means that  we have a guaranteed income that allows us to stock the shop, host book events and plan our publishing schedule. 
	Knowledge is a weapon against the lies about austerity and the scapegoating of the vulnerable. 
	Your account will go a long way to ensuring Bookmarks continues to make available, and publish, the books that arm current and future generations.
	</p>
	
	<hr/>
	
	Just download the <a title="Bookmarks account form" href="/files/account.pdf" target="_blank">form</a> and send it completed to 
	<strong>Bookmarks, 1 Bloomsbury Street, London, WC1B 3QE</strong>
</div>


	<script layout:fragment="top_scripts">
	/*<![CDATA[*/
	/*]]>*/
	</script>
</html>

