<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Categories
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Black Struggle
      </div>
      <div class="accordion-inner">
        Economics
      </div>
      <div class="accordion-inner">
        Fiction
      </div>	      	      
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Reading Lists
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Olympics
      </div>
      <div class="accordion-inner">
        Bedroom Tax
      </div>	      
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Upcoming Events
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        Book Launch
      </div>
      <div class="accordion-inner">
        UAF Conference
      </div>	      
    </div>
  </div>
  
  <div>
	<h3>Give us Feedback</h3>
	<p>Here at Acme, we've been working hard to get you the stuff you want at the speed you expect. We'd love to hear
	what you think of our latest attempt. Love it, hate it, we want to know if we're giving you the best experience 
	possible. So what do you think?</p>
	<form>
		<input name="name" type="text" placeholder="Your Name" />
		<textarea name="comments" placeholder="Your Comments"></textarea>
		<br/>
		<button type="submit" class="btn">Submit</button>
	</form>  
  </div>
</div><!-- End Accordion -->
