<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{decorator/public}">
<head>
	<title>Bookmarks - Empty Basket</title>
	<style>
	
	</style>
</head>
<!-- Search Categories -->
<div id="content" layout:fragment="content">
<h1>Your basket is empty! Why not add a few things here : <a href="/" class="btn btn-default">Home Page</a></h1>


</div>

	<script layout:fragment="top_scripts">
	/*<![CDATA[*/
		$(function() {
			$('.carousel').carousel();
		});
	/*]]>*/
	</script>
</html>

