/* Headroom 
    <script type="text/javascript">
        $(".navbar-fixed-top").headroom({
        	  "offset": 205,
        	  "tolerance": 5,
        	  "classes": {
        	    "initial": "animated",
        	    "pinned": "swingInX",
        	    "unpinned": "swingOutX"
        	  }
        	});
    </script> 	
*/

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}
    
/* See navbar.html */
.head-menu {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes swingInX {
  0% {
    -webkit-transform: perspective(100px) rotatex(-90deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotatex(0deg);
  }
}
@-moz-keyframes swingInX {
  0% {
    -moz-transform: perspective(400px) rotatex(-90deg);
  }
  100% {
    -moz-transform: perspective(400px) rotatex(0deg);
  }
}
@-o-keyframes swingInX {
  0% {
    -o-transform: perspective(400px) rotatex(-90deg);
  }
  100% {
    -o-transform: perspective(400px) rotatex(0deg);
  }
}
@keyframes swingInX {
  0% {
    transform: perspective(400px) rotatex(-90deg);
  }
  100% {
    transform: perspective(400px) rotatex(0deg);
  }
}
.head-menu.swingInX {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ie-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-backface-visibility: visible!important;
  -webkit-animation-name: swingInX;
  -moz-backface-visibility: visible!important;
  -moz-animation-name: swingInX;
  -o-backface-visibility: visible!important;
  -o-animation-name: swingInX;
  backface-visibility: visible!important;
  animation-name: swingInX;
}
@-webkit-keyframes swingOutX {
  0% {
    -webkit-transform: perspective(400px) rotatex(0deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotatex(-90deg);
  }
}
@-moz-keyframes swingOutX {
  0% {
    -moz-transform: perspective(400px) rotatex(0deg);
  }
  100% {
    -moz-transform: perspective(400px) rotatex(-90deg);
  }
}
@-o-keyframes swingOutX {
  0% {
    -o-transform: perspective(400px) rotatex(0deg);
  }
  100% {
    -o-transform: perspective(400px) rotatex(-90deg);
  }
}
@keyframes swingOutX {
  0% {
    transform: perspective(400px) rotatex(0deg);
  }
  100% {
    margin-top: -45px;
    transform: perspective(400px) rotatex(-90deg);
  }
}
.head-menu.swingOutX {
  -webkit-transform-origin: top;
  -webkit-animation-name: swingOutX;
  -webkit-backface-visibility: visible!important;
  -moz-animation-name: swingOutX;
  -moz-backface-visibility: visible!important;
  -o-animation-name: swingOutX;
  -o-backface-visibility: visible!important;
  animation-name: swingOutX;
  backface-visibility: visible !important;
}
/*****  ANIMATE.CSS ANIMATIONS   *****/
/*
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
@charset "UTF-8";
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}