<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorate="~{decorator/public}">
  <head>
    <title>Bookmarks - thank you</title>  
    <style type="text/css">

    </style>
  </head>
  <body>

	<!-- Search Categories -->
	<div id="content" layout:fragment="content">
		<hr/>
		<div class="row-fluid">
			<div style="border-right: 1px solid #CCC; padding-right: 15px">
				
				<h1>Thank You for your order, we have sent a confirmation email to your inbox.</h1>
				<hr/>
				
				<a href="/" class="btn">Home</a>
			</div><!-- End .span9 -->
			
		</div><!-- End .row-fluid -->
	</div><!-- End #content -->
	
	<script layout:fragment="bottom_scripts">
		/*<![CDATA[*/

		/*]]>*/
	</script>
	
  </body>
</html>
